<%#= f.association :genre, prompt: 'Select existing' %>
<%#= f.input :genre_id, as: :radio_buttons,
   wrapper: :custom_collection_inline, collection: @genres %>
<!-- input_html: { class: "hidden"} -->
  
<div>
  <div class="col-sm-8 align-items-center p-3">
    <%= ff.input_field :title,  class: "input-author", placeholder: 'Enter a title'%>
  </div>

  <div class="col-sm-12 radio-choices">
  <!-- use 'item_wrapper_class' to design CSS class for a collection -->
    <%= ff.input_field :genre_id, as: :radio_buttons, label: "", 
        item_wrapper_class: "radio-label", collection: genres %>
  </div>
</div>

    <%= ff.input :id, as: :hidden, value: @author.books.object_id %>
    <%= ff.input_field :_destroy, as: :hidden %> 
    <%#= since we don't want to show see the check %> 
    <%= link_to 'DeletE', '#', class: 'btn' %>

    <!-- <div class="col-sm-4 align-items-center p-3"> -->
      <!-- <a href="#newgenre">Create new genre</a> -->
    <!-- </div> -->
    
      
      

  









    