<div>
  <div class="col-sm-8 align-items-center p-3">
    <%= f.input_field :title,  class: "input-author", placeholder: 'Enter a title'%>
  </div>

  <div class="col-sm-12 radio-choices">
  <!-- use 'item_wrapper_class' to design CSS class for a collection -->
    <%= f.input_field :genre_id, as: :radio_buttons, label: "", 
        item_wrapper_class: "radio-label", collection: genres %>
  </div>
</div>

<%= f.input :id, as: :hidden, value: @author.books.object_id %>
<%= f.input_field :_destroy, as: :hidden %> 
    <%#= since we don't want to show see the check %> 
<%= button_to 'Delete', '#', class: 'btn btn-danger' %>