<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 border">
            <div class="form-group">
            <br>  
            <%= simple_form_for author, url: authors_path do |f| %>
                <%= f.input :name %>
                <br>
                <%= f.association :country %>
                <%#= f.input :country, collection: Country::COUNTRIES %>
            </div>
        </div>
        <br>
    </div>
<!-- https://github.com/heartcombo/simple_form/wiki/Nested-Models> -->    
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-6 border">
            <div class="col" id="new book">
                <div class="form-group">
                <br>
<!-- if I move the whole .form-group into the partial then I can't use the selection on Genre -->          
                    <%= f.simple_fields_for :books  do |ff| %>                   
                        <%= render 'books/book_fields', f: ff %>
                        <%= render 'books/book_fields', f: ff %>
                        
                    <% end %>
                    <%= link_to_add_book 'Add a book', f, :books %>
                </div>
            </div>
        </div>
    </div>
    <div>
        <%= f.submit "Create", class:"btn btn-primary"%>
        <% end %>
    </div>
        
        
        <%#= link_to_add_fields 'Add new book', f, :books %>
        
</div>




