<h5 class="text-center">partial <em>authors#_new.html.erb</em> linked with the controller <em>books</em> </h5>
<%= link_to 'Back', root_path %>
<ul>
    <li>The view <em>/view/books/index</em> calls for rendering the partial <em>/views/authors/_new</em>.
    The variables that feed this form, <em>@author = Author.new</em> and <em>@author.books.build</em>,
    are thus initialized in the method <em>books#index</em>. 
    </li>
    <li>If we specify <em>url: books_path</em> in the form definition, then Rails will call the method 
    books#create and use <em>form action="/books" method="post"</em>. 
            
    </li>
    <li>If we don't specify it, since this partial is located in '/views/authors', then 
    Rails will use <em>authors_path</em> and use <em>authors#create</em>, so will put <em>form action="authors" method="post"</em>
    and call for the method <em>authors#create</em>.
    </li>
</ul>

<div class="container">
    <div class="row">
        <% if @author.errors.any? %>
            <h5 ><%= pluralize(@author.errors.count, "error") %> prohibited this post from being saved:</h5>
            <ul>
                <% @author.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        <% end %>
    </div>
    <h5>Create a new author</h5>
    
        <!-- le 'submit' actionne authors#create <-> authors_path d'ou l'url-->
        <%= simple_form_for @author, url: authors_path do |f| %>
    <div class="row border d-flex flex-row justify-content-between align-items-center">         
            <%= f.error_notification %>
                <div class="col-sm-8 col-md-8">
                    
                    <%= f.input_field :name, placeholder: "Author's name",
                        class: "input-author" %>
                    <!-- avec 'input_field', il faut 'class: ...'-->
                </div>
                <div class="col-sm-4 col-md-4">
                    <%= f.association :country, prompt: "Select a country", label: false, 
                        input_html: { class: "form-control" } %>
                </div>
    </div>
<!-- https://github.com/heartcombo/simple_form/wiki/Nested-Models> -->    
    <br>
    
    <template id = "invisible"> This is invisible </template>
    <h5>Create books</h5> 
    <div class="row" id="new book">
        <div class="row d-flex border">
            <%= render partial: 'authors/book_fields', 
                locals:{ genres: @genres, genre: @genre, ff:f } %> 
            <br>
        </div>   

        <div class="row border">
            <%#= render partial: 'authors/book_fields', locals:{ genres: @genres, genre: @genre, ff:f } %> 
        </div>                              
        
        
    </div>
    <div class="row p-2">
        
            <%= f.submit "Create", class:"btn btn-primary"%>
        <% end %>
        
    </div>
    
    <div class="row border" id="new-genre">
        
        <%= simple_form_for @genre, url: '/genres', remote: true,
                wrapper: :inline_form, html: { class: "form-inline" } do |b| %>

            <%= b.input :name, placeholder: "Enter a new genre?",
                input_html: { class: "ml-3 mt-2 p-2 input-author" } %>
            <!-- avec '.input', il faut 'input_html: {class:..}' -->

            <%= b.submit "Create", class:"btn-success ml-4 pl-3 pr-3 mt-2 input-author"  %>
        
        <% end %>
    </div>
    
        
        <%#= link_to_add_fields 'Add a book', f, @books %>
        <%#= link_to_add_fields 'Add new book', f, :books %>
        
</div>






