<h5 class="text-center">partial <em>authors#_new.html.erb</em> linked with the controller <em>books</em> </h5>
<%= link_to 'Back', root_path %>
<ul>
    <li>The view <em>/view/books/index</em> calls for rendering the partial <em>/views/authors/_new</em>.
    The variables that feed this form, <em>@author = Author.new</em> and <em>@author.books.build</em>,
    are thus initialized in the method <em>books#index</em>. 
    </li>
    <li>If we specify <em>url: books_path</em> in the form definition, then Rails will call the method 
    books#create and use <em>form action="/books" method="post"</em>. 
            
    </li>
    <li>If we don't specify it, since this partial is located in '/views/authors', then 
    Rails will use <em>authors_path</em> and use <em>authors#create</em>, so will put <em>form action="authors" method="post"</em>
    and call for the method <em>authors#create</em>.
    </li>
</ul>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 border">
            <div class="form-group">
            <!-- le 'submit' actionne authors#create <-> authors_path d'ou l'url-->
            <%= simple_form_for @author, url: authors_path do |f| %>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <%= f.error_notification %>
                        <%= f.input_field :name, placeholder: "Author's name" %>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <%= f.association :country, prompt: "Select a country", label: false %>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
<!-- https://github.com/heartcombo/simple_form/wiki/Nested-Models> -->    
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-6 border p-2">
            <div class="col" id="new book">
                <div class="form-group">
<!-- if I move the whole .form-group into the partial then I can't use the selection on Genre -->          
                                      
                        <%= render partial: 'authors/book_fields', locals:{ genres: @genres, genre: @genre, ff:f } %> 
                        <%= render partial: 'authors/book_fields', locals:{ genres: @genres, genre: @genre, ff:f } %> 
                        
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <%= f.submit "Create", class:"btn btn-primary"%>
        <% end %>
    </div>
        
        <%#= link_to_add_fields 'Add a book', f, @books %>
        <%#= link_to_add_fields 'Add new book', f, :books %>
        
</div>






