  <%# EN ATTENTE DE VOIR CE QUE JE FAIS AVEC CETTE VUE %>
<%= f.input :title, label: 'Book title', placeholder: 'Enter a title' %>
<%#= f.hidden_field :genre_id %>
<%#= f.association :genre, prompt: 'Select existing' %>
<%#= f.input :genre_id, as: :radio_buttons,
   wrapper: :custom_collection_inline, collection: @genres %>
<!-- input_html: { class: "hidden"} -->
<%# if false %>
<div class="row">
  <div class="radio-choices">

    <% genres.each do |genre| %>

      <div class=" custom-control-inline">
        <input class="radio-btn-hidden" type="radio" value="<%= genre.id %>" 
          name="author[books_attributes][0][genre_id]"
          id="author_books_attributes_0_genre_id_<%= genre.id %>">

        <label class="radio-label"
        for="author_books_attributes_0_genre_id_<%= genre.id %>">

          <%= genre.name %> 

        </label>
      </div>

    <%# end %>
    <% end %>

  </div>
</div>






<%#= f.input :_destroy, as: :boolean, boolean_style: :inline %>
    