
<ol>
    <% books.each do |book| %>
        <li>
            <strong><%= book.title %></strong> [ <em><%= book.genre.name %></em> ] 
            by <%= book.author.name %> <%= book.author.country.name %>
            <% (0..5).to_a.sample.times do  %>
                <i class="far fa-star" ></i>
            <% end %>
        </li>  
    <% end %>
</ol>
<br>
<%= link_to 'Return (with page refresh)', root_path %>