  
  <% user_reviews.each do |review|%>
    <%= review.user.name %> wrote ":
    <ul>
        <% if review.reviewable_type == 'Book' %>  
            <li>
                <%= review.comment %>" about the book "<%= review.reviewable.title %>" 
                by <%= review.reviewable.author.name %> <%= review.reviewable.author.country.name %>
            </li>
        <% else %>
            <li>
                <%= review.comment %>" on the writter 
                <%= review.reviewable.name %> <%= review.reviewable.country.name %>
            </li><
        <% end %>
    </ul>
<% end %>

