<ul>
    <% users.each do |user| %>
        <h4><%= user.name %> wrote: </h4>

        <% user.reviews.each do |review|%>

            <% if review.reviewable_type == 'Book' %>
                <li>
                    "<%= review.comment %>" about the book "<%= review.reviewable.title %>" 
                    by <%= review.reviewable.author.name %> <%= review.reviewable.author.country.country %>
                </li>
            <% else %>
                <li>
                    "<%= review.comment %>" on the writter 
                    <%= review.reviewable.name %> <%= review.reviewable.country.country %>
                    </li>
            <% end %>

        <% end %>
        <br> 
    <% end%>
</ul>